<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display All Staff</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>City</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <% for(var i=0; i<emps.length; i++) {%>
    <tr>
        <td><%=emps[i].id %></td>
        <td><%=emps[i].name %></td>
        <td><%=emps[i].city %></td>
        <td><%=emps[i].contact %></td>
        <td><%=emps[i].email %></td>
        <td><%=emps[i].salary %></td>
        <td><a href="/edit/<%=emps[i].id %>"  class="btn btn-info">Update</a></td>
        <td><a href="/delete/<%=emps[i].id %>"  class="btn btn-danger">Delete</a></td>
    </tr>
    <% } %>
</table>

    <a href="/add" class="btn btn-success">Insert Staff</a>
</body>
</html>