<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Staff</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
    <div class="col-4" style="background-color:lightblue">
        <form action="/update/<%=em.id%>" method="POST">
            <div class="form group">
                <label for="name">Employee Name</label>
                <input type="text" id="name" name="name" value="<%=em.name%>" class="form-control">
                <label for="city">Employee City</label>
                <input type="text" id="city" name="city" value="<%=em.city%>" class="form-control">
                <label for="contact">Employee Contact</label>
                <input type="text" id="contact" name="contact" value="<%=em.contact%>" class="form-control">
                <label for="email">Employee Email</label>
                <input type="text" id="email" name="email" value="<%=em.email%>" class="form-control">
                <label for="salary">Employee Salary</label>
                <input type="text" id="salary" name="salary" value="<%=em.salary%>" class="form-control">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>